body{
    background-image: url(img/fondo3.jpg);
    display: grid;
    min-height: 100vh;
    justify-content: center;
}

.contenedorPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5em;
}

.card{
    background-color: #fff;
    min-width: 12vw;
    background-size: cover;
    background-position: 50%;
    padding: 2px;
    border-radius: 0.5em;
    box-sizing: border-box;
    transition: border 0.1s;
}

.contenedorTarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.contenedorAsociate{
    /* width: 100%; */
    background-image: url("https://www.infobae.com/new-resizer/lhmHiOapCUMrENOJ3BmnEBqrqyw=/1200x900/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/IHV5NWYR7JBIPHLHFMO35JV5AA.jpg");
    background-size: cover;
    background-position: 0%;
    border-radius: 0.5em;
    padding: 2px;
    box-sizing: border-box;
    transition: border 0.1s;
}


.card:hover, .contenedorAsociate:hover{
    border: 2px solid #992222;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0); */
    padding: 0px;
}